<div class="banner">Make a stock trade</div>
<div class="wrapper">

    <form class="main-form">
        <div class="text">
            <input type="text" placeholder="Enter symbol">
            <input type="text" placeholder="Enter amount">
            
        </div>
    <div class="buttonOne">
        <button>Shares</button>
        <button>Dollars</button>
        
    </div>
    <div class="buttonTwo">
        <button>Buy</button>
        <button>Sell</button>
        
    </div>
    
    </form>
</div>
