<div class="banner"><h1>Make a stock trade</h1></div>
<div class="wrapper">

    <form class="main-form">
        <div class="text">
            <input type="text" placeholder="Enter symbol" [(ngModel)]="symbol" name="symbol">
            <input type="number" min="1"    placeholder="Enter amount" [(ngModel)]="amount" name="amount">
            
        </div>
    <div class="buttonOne">
        <button [ngClass]="{buttonOneSelected: dollarsVsShares}" (click)="switchFormat('Shares',true)">Shares</button>
        <button  [ngClass]="{buttonOneSelected: dollarsVsShares === false}"  (click)="switchFormat('Dollars',false)">Dollars</button>
        
    </div>
    <div class="buttonTwo" >
        <button  [ngClass]="{buttonTwoSelected: transaction === 'Buying'}" (click)="onSelect('Buying')">Buy</button>
        <button  [ngClass]="{buttonTwoSelected: transaction === 'Selling'}" (click)="onSelect('Selling')">Sell</button>
        
    </div>
    
    </form>
</div>
<div class="final-form" *ngIf="finalForm && this.symbol && this.amount">
    <h2>{{transaction}} {{amount}} {{format}} of {{symbol}}</h2>
    <button type="onSubmit">Submit</button>
</div>
  